z<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css\help.css" />
  <link rel="icon" href="images/icon.jpg" type="image/x-icon" />
  <title>Lumine | Alugue seus filmes</title>
</head>

<body>
  <div id="preloader">
    <img src="images/logo.png" alt="Logo" class="preloader-logo" />
  </div>

  <section id="section-cont">
    <article>
      <div class="logo">
        <img src="images/logo.png" alt="lumine logo" />
      </div>
      <div class="nav1">
        <nav>
          <ul>
            <li>
              <a href="/"><i class="bi bi-house-door-fill"></i>Home</a>
            </li>
            <li>
              <a href="#"><i class="bi bi-cup-hot-fill"></i>Store</a>
            </li>
            <li>
              <a href="/category"><i class="bi bi-grid-fill"></i>Category</a>
            </li>
            <li>
              <a href="#"><i class="bi bi-bookmarks-fill"></i>Saves</a>
            </li>
            <li>
              <a href="#"><i class="bi bi-download"></i>Download</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="nav2">
        <nav>
          <ul>
            <ul>
              <li>
                <a href="../settings.html"><i class="bi bi-gear-fill"></i>Settings</a>
              </li>
              <li>
                <a href="../help.html"><i class="bi bi-info-circle-fill"></i>Help</a>
              </li>
            </ul>
          </ul>
        </nav>
      </div>
    </article>
    <aside>
      <header>
        <div class="input">
          <i class="bi bi-search"></i>
          <input type="text" name="pesquisa" placeholder="Search orders" id="input" />
        </div>

        <<<<<<< HEAD <div class="header-right">
          <div class="buttons">
            <div class="btn1">
              <a href="#">
                <button class="lumines-coin">
                  <img src="images/lumines.png" />
                </button>
              </a>
              =======
              <div class="nav2">
                <nav>
                  <ul>
                    <ul>
                      <li>
                        <a href="#"><i class="bi bi-gear-fill"></i>Settings</a>
                      </li>
                      <li>
                        <a href="#"><i class="bi bi-info-circle-fill"></i>Help</a>
                      </li>
                    </ul>
                  </ul>
                </nav>
              </div>
              </article>
              <aside>
                <header class="header">
                  <div class="input">
                    <i class="bi bi-search"></i>
                    <input type="text" name="pesquisa" placeholder="Search orders" id="input" />
                  </div>

                  <div class="header-right">
                    <div class="buttons">
                      <div class="btn1">
                        <a href="#">
                          <button class="lumines-coin">
                            <img src="images/lumines.png" />
                          </button>
                        </a>
                      </div>

                      <div class="btn2">
                        <a href="#">
                          <button class="notifications">
                            <i class="bi bi-bell"></i>
                          </button>
                        </a>
                      </div>

                      <div class="btn3">
                        <a href="#">
                          <button class="carrinho">
                            <i class="bi bi-basket3"></i>
                          </button>
                        </a>
                      </div>

                      <<<<<<< HEAD <div class="profile">
                        <img src="../uploads/profile.png" alt="profile" onclick="openProfilePopup()" />
                    </div>
                    >>>>>>> 337130c032ea3d1b017267261793ce56467c89a3
                    =======

                    >>>>>>> bb2676cf853ccdb746bacfc1e2fa781c7b370f21
                  </div>

                  <div class="btn2">
                    <a href="#">
                      <button class="notifications">
                        <i class="bi bi-bell"></i>
                      </button>
                    </a>
                  </div>

                  <div class="btn3">
                    <a href="#">
                      <button class="carrinho">
                        <i class="bi bi-basket3"></i>
                      </button>
                    </a>
                  </div>

                  <div class="profile">
                    <img src="../upload/profile-account.png" alt="profile" onclick="openProfilePopup()" />
                  </div>
            </div>

            <div class="btn-login">
              <a href="/login">
                <button class="button-log">Login</button>
              </a>
            </div>
          </div>
      </header>
      <main>

        <div class="moviesWrapper" id="moviesWrapper">
          
        </div>

        <div class="moviesContainer" id="moviesContainer">
        
        </div>

      </main>

      <main>Seção 2</main>
      <main>Seção 3</main>
      <main>Seção 4</main>
      <main>Seção 5</main>
    </aside>
  </section>

  <!-- POP-UP PERFIL -->

  <div id="profile-overlay" class="overlay hidden">
    <div class="popup-profile">
      <button class="close-btn" onclick="closeProfilePopup()">
        <i class="bi bi-x"></i>
      </button>
      <div class="account-section">
        <div class="account-left">
          <div class="account-top">
            <div class="account-img">
              <div class="profile-wrapper">
                <form id="form">
                  <img id="profile-img" src="../upload/profile-account.png" alt="Perfil" title="Clique para alterar" />
                  <input type="file" id="file-input" name="profilceImage" accept="image/*" />
                </form>
              </div>
            </div>
          </div>

          <div class="navegation">
            <h2 class="username">Manoel Vitor</h2>
            <p class="bio">Odeio o Arthur Nykisom</p>
          </div>

          <div class="logout">
            <div class="logout-btn">
              <form action="/logout" method="POST">
                <button class="logout-button">Logout</button>
              </form>
            </div>
          </div>
          </header>
            
            </aside>
            </section>

            <!-- POP-UP PERFIL -->

            <div id="profile-overlay" class="overlay hidden">
              <div class="popup-profile">
                <button class="close-btn" onclick="closeProfilePopup()">
                  <i class="bi bi-x"></i>
                </button>
                <div class="account-section">
                  <div class="account-left">
                    <div class="account-top">
                      <div class="account-img">
                        <div class="profile-wrapper">
                          <form id="form" method="post" action="/upload" enctype="multipart/form-data">
                            <img id="profile-img" src="" alt="Perfil" title="Clique para alterar" />
                            <input type="file" id="file-input" name="profileImage" accept="image/*" />
                          </form>
                        </div>
                      </div>
                    </div>

                    <div class="navegation">
                      <h2 class="username">Manoel Vitor</h2>
                      <p class="bio">Odeio o Arthur Nykisom</p>
                    </div>

                    <div class="logout">
                      <div class="logout-btn">
                        <form action="/logout" method="POST">
                          <button class="logout-button">Logout</button>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div class="account-right"></div>
                  
                </div>
                <div class="account-right"></div>
              </div>
            </div>
        </div>

        <!-- POP-UP SINOPSE -->
        <!-- <div id="synopsis-overlay" class="overlay hidden">
          <div class="popup-synopsis">
            <button class="close-btn" onclick="closeSynopsisPopup()">
              <i class="bi bi-x"></i> <!-- Você pode usar um X simples se não tiver o ícone 
            </button>
            <h2 id="synopsis-title"></h2>
            <p id="synopsis-text"></p>
          </div>
        </div> -->

        <script src="js/app.js"></script>
</body>

</html>