<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="icon" href="images/icon.jpg" type="image/x-icon" />
    <title>Lumine | Alugue seus filmes</title>
  </head>

  <body>
    <!-- Preloader -->
    <div id="preloader">
      <img src="images/logo.png" alt="Logo" class="preloader-logo" />
    </div>

    <!-- Main Layout -->
    <section id="section-cont">
      <article>
        <!-- Logo -->
        <div class="logo">
          <img src="images/logo.png" alt="lumine logo" />
        </div>

        <!-- Navigation Primary -->
        <div class="nav1">
          <nav>
            <ul>
              <li>
                <a href="/"><i class="bi bi-house-door-fill"></i>Home</a>
              </li>
              <li>
                <a href="#"><i class="bi bi-cup-hot-fill"></i>Store</a>
              </li>
              <li>
                <a href="/category"><i class="bi bi-grid-fill"></i>Category</a>
              </li>
              <li>
                <a href="#"><i class="bi bi-bookmarks-fill"></i>Saves</a>
              </li>
              <li>
                <a href="#"><i class="bi bi-download"></i>Download</a>
              </li>
            </ul>
          </nav>
        </div>

        <!-- Navigation Secondary -->
        <div class="nav2">
          <nav>
            <ul>
              <li>
                <a href="./settings.html"
                  ><i class="bi bi-gear-fill"></i>Settings</a
                >
              </li>
              <li>
                <a href="./help.html"
                  ><i class="bi bi-info-circle-fill"></i>Help</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </article>

      <!-- Sidebar and Main Content -->
      <aside>
        <!-- DIV LOGO QUERY -->

        <!-- Header -->
        <header class="header">
          <!-- <div class="logo-query">
            <img src="images/logo.png" alt="Lumine Logo" />
          </div> -->

          <div class="input">
            <i class="bi bi-search"></i>
            <input
              type="text"
              name="pesquisa"
              placeholder="Search orders"
              id="input"
            />
          </div>

          <div class="header-right">
            <div class="buttons">
              <div class="btn1">
                <a href="#">
                  <button class="lumines-coin">
                    <img src="images/lumines.png" alt="Lumines Coin" />
                  </button>
                </a>
              </div>

              <div class="btn2">
                <a href="#">
                  <button class="notifications">
                    <i class="bi bi-bell"></i>
                  </button>
                </a>
              </div>

              <div class="btn3">
                <a href="#">
                  <button class="carrinho">
                    <i class="bi bi-basket3"></i>
                  </button>
                </a>
              </div>

              <div class="profile">
                <img
                  src="../upload/profile-account.png"
                  alt="profile"
                  onclick="openProfilePopup()"
                />
              </div>

              <div class="btn-login">
                <a href="/login">
                  <button class="button-log">Login</button>
                </a>
              </div>
            </div>
          </div>
        </header>

        <!-- SEARCH QUERY -->

        <!-- <div class="input-query">
          <i class="bi bi-search"></i>
          <input
            type="text"
            name="pesquisa"
            placeholder="Search orders"
            id="input"
          />
        </div> -->

        <div class="highlighted">
          <div class="highlighted-container">
            <div class="highlight main"></div>
            <div class="highlight-column">
              <div class="highlight small"></div>
              <div class="highlight small"></div>
            </div>
          </div>
        </div>

        <!-- Main Content -->
        <main>
          <div class="moviesWrapper" id="moviesWrapper"></div>
          <div class="moviesContainer" id="moviesContainer"></div>
        </main>
      </aside>
    </section>

    <!-- POP-UP PERFIL -->
    <div id="profile-overlay" class="overlay hidden">
      <div class="popup-profile">
        <button class="close-btn" onclick="closeProfilePopup()">
          <i class="bi bi-x"></i>
        </button>
        <div class="account-section">
          <div class="account-left">
            <div class="account-top">
              <div class="account-img">
                <div class="profile-wrapper">
                  <form
                    id="form"
                    method="post"
                    action="/upload"
                    enctype="multipart/form-data"
                  >
                    <img
                      id="profile-img"
                      src=""
                      alt="Perfil"
                      title="Clique para alterar"
                    />
                    <input
                      type="file"
                      id="file-input"
                      name="profileImage"
                      accept="image/*"
                    />
                  </form>
                </div>
              </div>
            </div>

            <div class="navegation">
              <h2 class="username">José Lucena</h2>
              <p class="bio">Olá, me chamo Lucena.</p>
            </div>

            <div class="logout">
              <div class="logout-btn">
                <form action="/logout" method="POST">
                  <button class="logout-button">Logout</button>
                </form>
              </div>
            </div>
          </div>
          <div class="account-right"></div>
        </div>
      </div>
    </div>

    <!-- POP-UP SINOPSE (Comentado) -->

    <div id="synopsis-overlay" class="overlay hidden">
      <div class="popup-synopsis">
        <button class="close-btn" onclick="closeSynopsisPopup()">
          <i class="bi bi-x"></i>
        </button>
        <h2 id="synopsis-title"></h2>
        <p id="synopsis-text"></p>
      </div>
    </div>

    <script src="js/app.js"></script>
  </body>
</html>
